@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&display=swap');
header{

    .cabecalho {
        background-color: (#dd5eca31);
        font-family: Jacquard 12 Charted;
        color: rgb(190, 15, 144);
        color: black;
    }
    
    .cabecalho-imagem {
        width: 100%;
    }
    
    .cabecalho-lista-item {
        color: #973889ce;
        display: inline-block;
        margin: 0 300px;
        font-size: 35px;
    }
    
}

body{
    background-color: antiquewhite;
.contos-imagem-1 {
    width: 47%;
}

.contos {
    background: -o-linear-gradient(antiquewhite)
}

.poemas-imagem-1 {
    width: 47%;
}

.poemas {
    background-color: (antiquewhite);
}
}
